{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">My Calorie Tracker</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">Homessss</a></li>
        <li><a href="{{ url_for('food') }}">Add Food Item</a></li>
        <li><a href="{{ url_for('view_old') }}">See old date</a></li>
      </ul>
    </div>
  </div>
</nav>

<br>
<p style="font-size: 40px;text-align: center;"> To VIEW the dates:</p>

<h2>{{ pretty_date }}</h2>

{% for i in results %}

<h3 style="margin-left: 230px;">{{ i.id }}, {{ i.entry_date }} </h3>

<form method="POST" action="/view_old">
	<a href="{{ url_for('view', date=i.entry_date) }}" type="button" class="btn btn-link" style="margin-left: 250px;font-size: 30px">View Detail</a></li>
</form>
<br>
{% endfor %}



<br>
{% endblock %}